body{
    font-family: 'Times New Roman', Times, serif;
    
}
h1{
    font-size: 34px;
    text-align: center;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
a{
    text-decoration: unset;
    color: white;
    font-size: 18px;
    background-color: coral;
    padding: 5px 20px;
    border-radius: 25px;
    transition: all 0.4s;
}
a:hover{
    text-decoration: unset;
    color: black;
    background-color: red;

}
#logo{
width: 350px;
}
p{
    text-align: justify;
}
img{
    margin:auto;
    width: 80%;
    display: block;
}
p > a{
    

    font-size: 22px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    
    padding: 15px;
}
.content{
    border-radius: 25px;
    border: 2px dotted black;
    padding: 5px 15px;
    background-color: wheat;
    margin: 10px;
}
.breadcumb a{
    position: absolute;
    right: 0;
    top: 2.3vw;
}
.back{
    padding: 5px 8px;
    font-size: 30px;
   
}